@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --muted: #b0b0b0;

    --input: #f5f5f5;
    --input-hover: #eaeaea;
    --placeholder: #b0b0b0;

    --secondary-text: #858585;

    --link: #346bd4;

    --radius: 0.625em; /* 10px */
  }

  /* .dark {} */
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer components {
  .card {
    @apply rounded bg-white shadow-sm p-[30px];
  }
}
