@tailwind base;
@tailwind components;
@tailwind utilities;

/* global variables */
@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #000000;

    --muted: #b0b0b0;

    --input: #f5f5f5;
    --input-hover: #eaeaea;
    --placeholder: #b0b0b0;

    --secondary-text: #858585;

    --link: #346bd4;

    --radius: 0.625em; /* 10px */
  }

  /* .dark {} */
}

/* body */
@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* scrollbar */
@layer base {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

@layer components {
  .card {
    @apply rounded bg-white shadow-sm p-[30px];
  }
}
